body {
  background-color: #fdfdfd;
  padding-top: 70px;
  padding-bottom: 30px;
}

.hidden-row {
    padding: 0 !important;
}

.hidden-row > div {
  padding: 10px;
}

.label-dark-void {
  border: 1px solid #000;
  color: #000;
}
.label-dark-void[href]:hover,
.label-dark-void[href]:focus {
  border: 1px solid #000;
  color: #000;
}

.label-void {
  border: 1px solid #888;
  color: #888;
}
.label-void[href]:hover,
.label-void[href]:focus {
  border: 1px solid #888;
  color: #888;
}

