body {
  background-color: #fdfdfd;
  padding-top: 70px;
  padding-bottom: 30px;
}

.hidden-row {
    padding: 0 !important;
}

.hidden-row > div {
  padding: 10px;
}

.label-dark-void {
  border: 1px solid #000;
  color: #000;
}
.label-dark-void[href]:hover,
.label-dark-void[href]:focus {
  border: 1px solid #000;
  color: #000;
}

.label-void {
  border: 1px solid #888;
  color: #888;
}
.label-void[href]:hover,
.label-void[href]:focus {
  border: 1px solid #888;
  color: #888;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
